In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.head()              # first 5 rows

In [ ]:
df.tail(3)             # last 3 rows

In [ ]:
df.shape               # (rows, columns)

In [ ]:
df.info()              # summary info

In [ ]:
df.describe()          # statistical summary

In [ ]:
df.columns             # list of columns

In [ ]:
df.index               # row index

In [ ]:
df.dtypes              # data types of columns

In [ ]:
df.isnull().sum()      # count missing values

In [ ]:
df.isnull()

In [ ]:
df['longitude']

In [ ]:
df[['longitude', 'total_bedrooms']]

In [ ]:
df.iloc[1]             # first row

In [ ]:
df.loc[0]              # row with index label 1

In [ ]:
df[df['longitude'] > -120]

In [ ]:
df[(df['longitude'] > -120) & (df['latitude'] < 35)]

In [ ]:
df.sort_values('total_rooms')                 # ascending

In [ ]:
df.sort_values('total_bedrooms', ascending=False)  # descending

In [ ]:
df['house_value_IRS'] = df['median_house_value'] * 85

In [ ]:
df.head()

In [ ]:
df.drop('house_value_IRS', axis=1, inplace=True)

In [ ]:
df.drop(1, axis=0, inplace=True)

In [ ]:
df.isnull()

In [ ]:
df.fillna(0)

In [ ]:
df.dropna()

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [ ]:
df.groupby('target').mean()

In [ ]:
df1 = pd.read_csv('/content/sample_data/california_housing_train.csv')
df2 = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df1.shape

In [ ]:
df2.shape

In [ ]:
pd.merge(df1, df2, on='latitude')

In [ ]:
df.columns

In [ ]:
df.rename(columns={'sepal length (cm)': 'SepLen'}, inplace=True)

In [ ]:
df1.to_csv('output.csv', index=False)

In [ ]:
df2.to_excel('output.xlsx', index=False)

In [ ]:
df['SepLen'].mean()

In [ ]:
df['SepLen'].sum()

In [ ]:
df['SepLen'].max()

In [ ]:
df['SepLen'].min()

In [ ]:
df['SepLen'].count()

In [ ]:
df['SepLen'].std()

In [ ]:
df['SepLen'].var()

In [ ]:
df

In [ ]:
df.pivot_table(values='SepLen', index='target')

In [ ]:
def add_bonus(m):
    return m + 0.01

df['New_SepLen'] = df['SepLen'].apply(add_bonus)

In [ ]:
df['New_SepWid'] = df['sepal width (cm)'].apply(lambda x: x+0.01)

In [ ]:
df['SepLen'].plot(kind='bar')